openapi: 3.0.3
info:
  title: Gemini Prediction Markets API
  description: |
    API for trading prediction market contracts on Gemini.

    **Note:** Only fields documented in this specification are considered stable. Undocumented fields in API responses may change or be removed without notice.
  version: 1.0.0
  contact:
    name: Gemini API Support

servers:
  - url: https://api.gemini.com
    description: Production
  - url: https://api.sandbox.gemini.com
    description: Sandbox

tags:
  - name: Markets
    description: |
      Public endpoints for browsing prediction markets.

      **Market Data:** Use these REST endpoints to discover active events and each contract's `instrumentSymbol` (e.g., `GEMI-FEDJAN26-DN25`). For active trading and market making, prefer [Prediction Markets WebSocket streams](/prediction-markets/websocket/streams) with that `instrumentSymbol`.
      - [List Events](/rest-api/prediction-markets/events/list-events) - Discover active events and instrument symbols
      - [Prediction Markets WebSocket Streams](/prediction-markets/websocket/streams) - Stream prices, depth, order events, and positions
  - name: Volume
    description: Public, unauthenticated prediction-market trade volume by category and UTC period.
  - name: Terms
    description: Read, check, and accept the latest Prediction Markets terms for API key and OAuth trading flows.
  - name: Trading
    description: Authenticated REST endpoints for placing and managing orders. Treat REST order placement as payload reference or a one-off server workflow; for active trading and market making, prefer WebSocket order.place.
  - name: Positions
    description: Authenticated endpoints for viewing positions and order history. Use REST positions for recovery or audit snapshots after reconnects, missed WebSocket messages, and settlement windows.
  - name: Combos
    description: Public endpoints for discovering and inspecting combo contracts, plus an authenticated endpoint to create or retrieve a canonical combo. Combos are multi-leg contracts; order entry uses the same place/cancel endpoints as single contracts.
  - name: Rewards
    description: |
      Endpoints for the Maker Rebate and Liquidity Rewards programs.

      - **Maker Rebate** — per-fill rebates earned by resting limit orders that get filled. Rates and rebate multipliers are configured per category. Public rate schedule plus authenticated payout and summary endpoints.
      - **Liquidity Rewards** — daily USD reward pools distributed across qualifying makers based on quote uptime, spread, and size. Public config + event listing, authenticated daily and lifetime summary endpoints.

      When a program is not active, its endpoints return `503 Service Unavailable`.

      **Note on field naming.** Response fields under the Rewards endpoints use `snake_case` (e.g. `event_ticker`, `daily_pool_usd`). This differs from the `camelCase` convention used by the rest of the Prediction Markets REST endpoints.

paths:
  /v1/prediction-markets/events:
    get:
      tags:
        - Markets
      summary: List prediction market events
      description: Returns a paginated list of prediction market events with optional filtering by status, category, sports-market classification, and search text. Repeated values for the same filter use OR semantics; different filters combine with AND semantics.
      operationId: listEvents
      parameters:
        - name: status
          in: query
          description: Filter by event status (can specify multiple)
          schema:
            type: array
            items:
              $ref: '#/components/schemas/MarketStatus'
          style: form
          explode: true
        - name: category
          in: query
          description: Filter by category (can specify multiple). If omitted, returns events from all categories.
          schema:
            type: array
            items:
              type: string
          style: form
          explode: true
        - $ref: '#/components/parameters/SportFilter'
        - $ref: '#/components/parameters/SportsMarketTypeFilter'
        - $ref: '#/components/parameters/SportsMarketSubjectFilter'
        - $ref: '#/components/parameters/SportsMarketScopeFilter'
        - $ref: '#/components/parameters/SportsMarketMetricFilter'
        - name: search
          in: query
          description: Search text to filter events by title
          schema:
            type: string
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventsResponse'
              examples:
                activeEvents:
                  summary: List of active events
                  value:
                    data:
                      - id: "evt_123"
                        title: "Will Bitcoin reach $100k by end of 2028?"
                        slug: "bitcoin-100k-2028"
                        description: "Bitcoin must reach $100,000 USD on any major exchange by December 31, 2028"
                        imageUrl: "https://example.com/btc.png"
                        type: "binary"
                        category: "crypto"
                        series: null
                        ticker: "BTC100K2028"
                        status: "active"
                        resolvedAt: null
                        createdAt: "2026-01-01T00:00:00.000Z"
                        effectiveDate: "2026-01-01T00:00:00.000Z"
                        expiryDate: "2028-12-31T23:59:59.000Z"
                        liquidity: "500000.00"
                        tags: ["bitcoin", "cryptocurrency", "price-prediction"]
                        contracts:
                          - id: "contract_123"
                            label: "BTC reaches $100,000 by end of 2028"
                            description: null
                            prices:
                              buy:
                                "yes": "0.65"
                                "no": "0.35"
                              sell:
                                "yes": "0.65"
                                "no": "0.35"
                              bestBid: "0.64"
                              bestAsk: "0.66"
                              lastTradePrice: "0.65"
                            color: "#00ff00"
                            status: "active"
                            imageUrl: null
                            priceHistory: null
                            createdAt: "2026-01-01T00:00:00.000Z"
                            expiryDate: "2028-12-31T23:59:59.000Z"
                            resolutionSide: null
                            resolvedAt: null
                            termsAndConditionsUrl: "https://example.com/terms"
                            ticker: "BTC100K2028"
                            instrumentSymbol: "GEMI-BTC100K2028"
                            effectiveDate: "2026-01-01T00:00:00.000Z"
                      - id: "evt_124"
                        title: "Will ETH reach $5k by end of 2028?"
                        slug: "ethereum-5k-2028"
                        description: "Ethereum must reach $5,000 USD on any major exchange by December 31, 2028"
                        imageUrl: "https://example.com/eth.png"
                        type: "binary"
                        category: "crypto"
                        series: null
                        ticker: "ETH5K2028"
                        status: "active"
                        resolvedAt: null
                        createdAt: "2026-01-01T00:00:00.000Z"
                        effectiveDate: "2026-01-01T00:00:00.000Z"
                        expiryDate: "2028-12-31T23:59:59.000Z"
                        liquidity: "300000.00"
                        tags: ["ethereum", "cryptocurrency", "price-prediction"]
                        contracts:
                          - id: "contract_125"
                            label: "ETH reaches $5,000 by end of 2028"
                            description: null
                            prices:
                              buy:
                                "yes": "0.48"
                                "no": "0.52"
                              sell:
                                "yes": "0.48"
                                "no": "0.52"
                              bestBid: "0.47"
                              bestAsk: "0.49"
                              lastTradePrice: "0.48"
                            color: "#00ff00"
                            status: "active"
                            imageUrl: null
                            priceHistory: null
                            createdAt: "2026-01-01T00:00:00.000Z"
                            expiryDate: "2028-12-31T23:59:59.000Z"
                            resolutionSide: null
                            resolvedAt: null
                            termsAndConditionsUrl: "https://example.com/terms"
                            ticker: "ETH5K2028"
                            instrumentSymbol: "GEMI-ETH5K2028"
                            effectiveDate: "2026-01-01T00:00:00.000Z"
                    pagination:
                      limit: 50
                      offset: 0
                      total: 2
                sportsMarkets:
                  summary: Sports markets across leagues and periods
                  value:
                    data:
                      - id: "evt_mlb_first_five_spread"
                        title: "Yankees at Red Sox - First 5 Innings Spread"
                        type: "binary"
                        category: "Sports"
                        sportsMarket:
                          sport: "baseball"
                          type: "spread"
                          subject: "team"
                          scope:
                            type: "inning"
                            start: 1
                            end: 5
                          metric: "runs"
                        contracts: []
                      - id: "evt_nfl_first_half_spread"
                        title: "Bills at Chiefs - First Half Spread"
                        type: "binary"
                        category: "Sports"
                        sportsMarket:
                          sport: "american_football"
                          type: "spread"
                          subject: "team"
                          scope:
                            type: "half"
                            ordinal: 1
                          metric: "points"
                        contracts: []
                      - id: "evt_ncaaf_team_total"
                        title: "Michigan Team Total vs Ohio State"
                        type: "binary"
                        category: "Sports"
                        sportsMarket:
                          sport: "american_football"
                          type: "total"
                          subject: "team"
                          scope:
                            type: "full_contest"
                          metric: "points"
                        contracts: []
                    pagination:
                      limit: 50
                      offset: 0
                      total: 3
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /v1/prediction-markets/events/{eventTicker}:
    get:
      tags:
        - Markets
      summary: Get event by ticker
      description: Returns detailed information about a specific prediction market event.
      operationId: getEvent
      parameters:
        - name: eventTicker
          in: path
          required: true
          description: The event ticker symbol (e.g., "BTC100K")
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '404':
          description: Event not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /v1/prediction-markets/events/{eventTicker}/strike:
    get:
      tags:
        - Markets
      summary: Get strike price for event
      description: |
        Returns strike price information for a specific prediction market event.

        Useful for crypto Up/Down contracts where the strike price becomes available at the start of the observation window (typically ~5 minutes before expiry for 5M contracts).

        For Up/Down contracts, the `value` field will be `null` until the strike is captured at `availableAt` time.
      operationId: getEventStrike
      parameters:
        - name: eventTicker
          in: path
          required: true
          description: The event ticker symbol (e.g., "BTC05M2603271950")
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Strike'
              examples:
                strikeAvailable:
                  summary: Strike price captured
                  value:
                    value: "98000.50"
                    type: "reference"
                    availableAt: "2026-03-27T19:45:00.000Z"
                strikePending:
                  summary: Strike pending (pre-T-0)
                  value:
                    value: null
                    type: "reference"
                    availableAt: "2026-03-27T19:45:00.000Z"
        '404':
          description: Strike not found (event doesn't exist or doesn't have strike data)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: "Strike not found"
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /v1/prediction-markets/events/newly-listed:
    get:
      tags:
        - Markets
      summary: List newly listed events
      description: Returns a list of prediction market events created in the last 24 hours, sorted by creation date (newest first). Repeated values for the same sports-market filter use OR semantics; different filters combine with AND semantics.
      operationId: listNewlyListedEvents
      parameters:
        - name: category
          in: query
          description: Filter by category (can specify multiple). If omitted, returns events from all categories.
          schema:
            type: array
            items:
              type: string
          style: form
          explode: true
        - $ref: '#/components/parameters/SportFilter'
        - $ref: '#/components/parameters/SportsMarketTypeFilter'
        - $ref: '#/components/parameters/SportsMarketSubjectFilter'
        - $ref: '#/components/parameters/SportsMarketScopeFilter'
        - $ref: '#/components/parameters/SportsMarketMetricFilter'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventsResponse'
              examples:
                newlyListedEvents:
                  summary: Newly listed events
                  value:
                    data:
                      - id: "4126"
                        title: "SOL price today at 12am EST"
                        slug: "sol-price-today-at-12am-est"
                        description: "Interval SOL price prediction event"
                        imageUrl: "https://images.ctfassets.net/example.png"
                        type: "categorical"
                        category: "Crypto"
                        series: "SOL1H"
                        ticker: "SOL2603050500"
                        status: "active"
                        resolvedAt: null
                        createdAt: "2026-03-05T02:57:31.548Z"
                        effectiveDate: null
                        expiryDate: "2026-03-05T05:00:00.000Z"
                        liquidity: null
                        tags: ["Solana"]
                        contracts:
                          - id: "4126-33859"
                            label: "SOL > $90"
                            abbreviatedName: ">$90"
                            description: null
                            prices:
                              buy:
                                "yes": "0.42"
                                "no": "0.58"
                              sell:
                                "yes": "0.42"
                                "no": "0.58"
                              bestBid: "0.49"
                              bestAsk: "0.54"
                              lastTradePrice: "0.75"
                            color: "#4CAF50"
                            status: "active"
                            imageUrl: null
                            priceHistory: null
                            createdAt: "2026-03-05T02:57:31.548Z"
                            expiryDate: "2026-03-05T05:00:00.000Z"
                            resolutionSide: null
                            resolvedAt: null
                            termsAndConditionsUrl: "https://example.com/terms"
                            ticker: "HI90"
                            instrumentSymbol: "GEMI-SOL2603050500-HI90"
                            effectiveDate: null
                            marketState: "open"
                            sortOrder: 1
                    pagination:
                      limit: 50
                      offset: 0
                      total: 1
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /v1/prediction-markets/events/recently-settled:
    get:
      tags:
        - Markets
      summary: List recently settled events
      description: Returns a list of prediction market events settled in the last 24 hours, sorted by resolution date (most recently settled first). Repeated values for the same sports-market filter use OR semantics; different filters combine with AND semantics.
      operationId: listRecentlySettledEvents
      parameters:
        - name: category
          in: query
          description: Filter by category (can specify multiple). If omitted, returns events from all categories.
          schema:
            type: array
            items:
              type: string
          style: form
          explode: true
        - $ref: '#/components/parameters/SportFilter'
        - $ref: '#/components/parameters/SportsMarketTypeFilter'
        - $ref: '#/components/parameters/SportsMarketSubjectFilter'
        - $ref: '#/components/parameters/SportsMarketScopeFilter'
        - $ref: '#/components/parameters/SportsMarketMetricFilter'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventsResponse'
              examples:
                recentlySettledEvents:
                  summary: Recently settled events
                  value:
                    data:
                      - id: "4100"
                        title: "SOL price today at 4am EST"
                        slug: "sol-price-today-at-4am-est"
                        description: "Interval SOL price prediction event"
                        imageUrl: "https://images.ctfassets.net/example.png"
                        type: "categorical"
                        category: "Crypto"
                        series: "SOL1H"
                        ticker: "SOL2603050400"
                        status: "settled"
                        resolvedAt: "2026-03-05T04:00:21.400Z"
                        createdAt: "2026-03-05T01:57:31.548Z"
                        effectiveDate: null
                        expiryDate: "2026-03-05T04:00:00.000Z"
                        liquidity: null
                        tags: ["Solana"]
                        contracts:
                          - id: "4100-33800"
                            label: "SOL > $90"
                            abbreviatedName: ">$90"
                            description: null
                            prices:
                              buy: {}
                              sell: {}
                              bestBid: null
                              bestAsk: null
                              lastTradePrice: "0.80"
                            color: "#4CAF50"
                            status: "settled"
                            imageUrl: null
                            priceHistory: null
                            createdAt: "2026-03-05T01:57:31.548Z"
                            expiryDate: "2026-03-05T04:00:00.000Z"
                            resolutionSide: "yes"
                            resolvedAt: "2026-03-05T04:00:21.400Z"
                            termsAndConditionsUrl: "https://example.com/terms"
                            ticker: "HI90"
                            instrumentSymbol: "GEMI-SOL2603050400-HI90"
                            effectiveDate: null
                            marketState: "closed"
                            sortOrder: 1
                    pagination:
                      limit: 50
                      offset: 0
                      total: 1
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /v1/prediction-markets/events/upcoming:
    get:
      tags:
        - Markets
      summary: List upcoming events
      description: Returns a list of approved prediction market events that are not yet active (pre-launch), sorted by start time (soonest first). Repeated values for the same sports-market filter use OR semantics; different filters combine with AND semantics.
      operationId: listUpcomingEvents
      parameters:
        - name: category
          in: query
          description: Filter by category (can specify multiple). If omitted, returns events from all categories.
          schema:
            type: array
            items:
              type: string
          style: form
          explode: true
        - $ref: '#/components/parameters/SportFilter'
        - $ref: '#/components/parameters/SportsMarketTypeFilter'
        - $ref: '#/components/parameters/SportsMarketSubjectFilter'
        - $ref: '#/components/parameters/SportsMarketScopeFilter'
        - $ref: '#/components/parameters/SportsMarketMetricFilter'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventsResponse'
              examples:
                upcomingEvents:
                  summary: Upcoming events
                  value:
                    data:
                      - id: "4200"
                        title: "Lakers vs Celtics"
                        slug: "lakers-vs-celtics-march-10"
                        description: "NBA game prediction market"
                        imageUrl: "https://images.ctfassets.net/example.png"
                        type: "binary"
                        category: "Sports"
                        series: null
                        sportsMarket:
                          sport: "basketball"
                          type: "moneyline"
                          subject: "contest"
                          scope:
                            type: "full_contest"
                        ticker: "NBA260310LAL-BOS"
                        status: "approved"
                        resolvedAt: null
                        createdAt: "2026-03-04T12:00:00.000Z"
                        effectiveDate: "2026-03-10T19:30:00.000Z"
                        expiryDate: "2026-03-11T02:00:00.000Z"
                        liquidity: null
                        tags: ["NBA", "Basketball"]
                        subcategory:
                          id: 10
                          slug: "sports_nba"
                          name: "NBA"
                          path: ["Sports", "NBA"]
                        contracts:
                          - id: "4200-1"
                            label: "Lakers Win"
                            abbreviatedName: "LAL"
                            description: null
                            prices:
                              buy: {}
                              sell: {}
                              bestBid: null
                              bestAsk: null
                              lastTradePrice: null
                            color: "#552583"
                            status: "approved"
                            imageUrl: null
                            priceHistory: null
                            createdAt: "2026-03-04T12:00:00.000Z"
                            expiryDate: "2026-03-11T02:00:00.000Z"
                            resolutionSide: null
                            resolvedAt: null
                            termsAndConditionsUrl: "https://example.com/terms"
                            ticker: "LAL"
                            instrumentSymbol: "GEMI-NBA260310LAL-BOS-LAL"
                            effectiveDate: "2026-03-10T19:30:00.000Z"
                            marketState: "closed"
                            sortOrder: 1
                    pagination:
                      limit: 50
                      offset: 0
                      total: 1
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /v1/prediction-markets/categories:
    get:
      tags:
        - Markets
      summary: List event categories
      description: Returns available prediction market event categories, optionally filtered by event status.
      operationId: getCategories
      parameters:
        - name: status
          in: query
          description: Filter categories by event status
          schema:
            type: array
            items:
              $ref: '#/components/schemas/MarketStatus'
          style: form
          explode: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  categories:
                    type: array
                    items:
                      type: string
                    example: ["sports", "politics", "crypto", "entertainment"]
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /v1/prediction-markets/volume/{date}:
    get:
      tags:
        - Volume
      summary: Get daily prediction market trade volume
      description: |
        Returns prediction-market trade volume by category for one completed UTC day. This is a public, unauthenticated endpoint.

        `date` must use the `YYYY-MM-DD` UTC calendar-date format. Requests may select one day in the rolling one-year UTC window ending before the current UTC day; the current UTC day is not available. The exact earliest supported date is evaluated for each request.

        Prediction-market volume begins at `2025-12-15`. A pre-launch date, or a post-launch date with any missing source hour, returns `404 NOT_FOUND`. The endpoint never synthesizes zero-volume rows for time before launch.

        All volume values are non-negative decimal strings. Category rows are flat and ordered with each parent before its descendants. Each category row's `volume` includes trades assigned directly to that category and to all descendant categories.
      operationId: getPredictionMarketDailyVolume
      parameters:
        - name: date
          in: path
          required: true
          description: Completed UTC calendar date in `YYYY-MM-DD` format.
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Category volume for the requested UTC day
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PredictionMarketVolumeCategory'
              examples:
                dailyVolume:
                  summary: Daily category volume
                  value:
                    - categoryPath: ["Sports"]
                      volume: "200097"
                    - categoryPath: ["Sports", "Soccer"]
                      volume: "3952"
        '400':
          description: Invalid or unsupported date. The message includes the current one-year UTC date bounds.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                invalidDate:
                  summary: Date must use the required UTC calendar-date format
                  value:
                    error: "BAD_REQUEST"
                    message: "date must use YYYY-MM-DD. Supported one-year UTC date range: <earliest UTC date> <= date < <current UTC date>"
        '404':
          description: No complete volume data is available for the requested date. This includes dates before prediction markets launched and post-launch dates with a missing source hour.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: "NOT_FOUND"
                message: "Prediction market volume data is not available for the requested date"
        '503':
          description: The canonical source is invalid or temporarily unavailable. The endpoint does not return a partial result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: "SERVICE_UNAVAILABLE"
                message: "Prediction market volume data is temporarily unavailable"

  /v1/prediction-markets/volume/{date}/hourly:
    get:
      tags:
        - Volume
      summary: Get hourly prediction market trade volume
      description: |
        Returns prediction-market trade volume by category and UTC hour for one completed UTC day. This is a public, unauthenticated endpoint.

        `date` must use the `YYYY-MM-DD` UTC calendar-date format. Requests may select one day in the rolling one-year UTC window ending before the current UTC day; the current UTC day is not available. The exact earliest supported date is evaluated for each request.

        Prediction-market volume begins at `2025-12-15`. A pre-launch date, or a post-launch date with any missing source hour, returns `404 NOT_FOUND`. The endpoint never synthesizes zero-volume rows for time before launch or completed zero-volume hours.

        All volume values are non-negative decimal strings. Rows are ordered by UTC hour, then with each category parent before its descendants. Each category row's `volume` includes trades assigned directly to that category and to all descendant categories.
      operationId: getPredictionMarketHourlyVolume
      parameters:
        - name: date
          in: path
          required: true
          description: Completed UTC calendar date in `YYYY-MM-DD` format.
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Hourly category volume for the requested UTC day
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PredictionMarketHourlyVolumeCategory'
              examples:
                hourlyVolume:
                  summary: Hourly category volume
                  value:
                    - periodStart: "2026-07-20T00:00:00Z"
                      categoryPath: ["Sports"]
                      volume: "200097"
                    - periodStart: "2026-07-20T00:00:00Z"
                      categoryPath: ["Sports", "Soccer"]
                      volume: "3952"
        '400':
          description: Invalid or unsupported date. The message includes the current one-year UTC date bounds.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                invalidDate:
                  summary: Date must use the required UTC calendar-date format
                  value:
                    error: "BAD_REQUEST"
                    message: "date must use YYYY-MM-DD. Supported one-year UTC date range: <earliest UTC date> <= date < <current UTC date>"
        '404':
          description: No complete volume data is available for the requested date. This includes dates before prediction markets launched and post-launch dates with a missing source hour.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: "NOT_FOUND"
                message: "Prediction market volume data is not available for the requested date"
        '503':
          description: The canonical source is invalid or temporarily unavailable. The endpoint does not return a partial result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: "SERVICE_UNAVAILABLE"
                message: "Prediction market volume data is temporarily unavailable"

  /v1/prediction-markets/terms:
    get:
      tags:
        - Terms
      summary: Get prediction market terms
      description: Returns the latest Prediction Markets terms content. This endpoint is public so clients can display the terms before asking an authenticated account to accept them.
      operationId: getPredictionMarketsTerms
      responses:
        '200':
          description: Latest Prediction Markets terms
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PredictionMarketsTerms'
              examples:
                terms:
                  summary: Latest terms
                  value:
                    termsType: "PredictionsMarket"
                    version: 3
                    content: "These are the prediction market terms."
                    updatedAt: "2026-05-18T17:00:00Z"
        '404':
          description: No Prediction Markets terms are configured
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: "TermsNotFound"
                message: "No terms configured for prediction markets"
        '500':
          $ref: '#/components/responses/InternalError'

  /v1/prediction-markets/terms/status:
    get:
      tags:
        - Terms
      summary: Get prediction market terms status
      description: Returns whether the authenticated account group has accepted the latest Prediction Markets terms. Requires authentication and OrderStatus permission.
      operationId: getPredictionMarketsTermsStatus
      security:
        - apiKey: []
          payloadAuth: []
          signatureAuth: []
      responses:
        '200':
          description: Terms acceptance status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PredictionMarketsTermsStatus'
              examples:
                accepted:
                  summary: Latest terms accepted
                  value:
                    hasAcceptedLatest: true
                    acceptedVersion: 3
                    latestVersion: 3
                needsAcceptance:
                  summary: Latest terms not accepted
                  value:
                    hasAcceptedLatest: false
                    acceptedVersion: 2
                    latestVersion: 3
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  /v1/prediction-markets/terms/accept:
    post:
      tags:
        - Terms
      summary: Accept prediction market terms
      description: Accepts the latest configured Prediction Markets terms for the authenticated account group. Requires authentication and NewOrder permission. The actor is recorded from the OAuth client when OAuth is used, otherwise from the API key session.
      operationId: acceptPredictionMarketsTerms
      security:
        - apiKey: []
          payloadAuth: []
          signatureAuth: []
      responses:
        '200':
          description: Terms accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcceptPredictionMarketsTermsResponse'
              example:
                success: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: No Prediction Markets terms are configured
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: "TermsNotFound"
                message: "No terms configured for prediction markets"
        '500':
          $ref: '#/components/responses/InternalError'

  /v1/prediction-markets/order:
    post:
      tags:
        - Trading
      summary: Place order
      description: |
        Place a new prediction market order. Supports limit and stop-limit order types. Requires authentication and NewOrder permission.

        Before sending orders, check `GET /v1/prediction-markets/terms/status`. If `hasAcceptedLatest` is `false`, display `GET /v1/prediction-markets/terms` and call `POST /v1/prediction-markets/terms/accept`, then retry the order.

        Validate each order's quantity and price against the instrument-specific `quantityIncrement`, `quantityMinimum`, `priceIncrement`, and `priceMinimum` returned in the contract metadata. Do not assume a fixed quantity or price grid across instruments.

        ### Stop-Limit Orders
        A stop-limit order is an order type that allows for order placement when a price reaches a specified level. Stop-limit orders take in both a `price` and a `stopPrice` as parameters. The `stopPrice` is the price that triggers the order to be placed on the continuous live order book at the `price`. For buy orders, the `stopPrice` must be greater than or equal to the last trade price and less than or equal to the `price`; for sell orders, the `stopPrice` must be less than or equal to the last trade price and greater than or equal to the `price`. Both `price` and `stopPrice` must be in the 0-1 range.
      operationId: placeOrder
      security:
        - apiKey: []
          payloadAuth: []
          signatureAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderRequest'
            examples:
              buyYes:
                summary: Buy YES contract
                description: Place a limit order to buy 100 YES contracts at 0.65
                value:
                  symbol: "GEMI-FEDJAN26-DN25"
                  orderType: "limit"
                  side: "buy"
                  quantity: "100"
                  price: "0.65"
                  outcome: "yes"
                  timeInForce: "good-til-cancel"
              sellNo:
                summary: Sell NO contract
                description: Place a limit order to sell 50 NO contracts at 0.35
                value:
                  symbol: "GEMI-FEDJAN26-DN25"
                  orderType: "limit"
                  side: "sell"
                  quantity: "50"
                  price: "0.35"
                  outcome: "no"
                  timeInForce: "good-til-cancel"
              makerOnly:
                summary: Maker-only order (post-only)
                description: Place a maker-only order that will be cancelled if it would match immediately. Useful for ensuring you provide liquidity and qualify for maker rebates.
                value:
                  symbol: "GEMI-FEDJAN26-DN25"
                  orderType: "limit"
                  side: "buy"
                  quantity: "100"
                  price: "0.55"
                  outcome: "yes"
                  timeInForce: "good-til-cancel"
                  makerOrCancel: true
              buyYesStopLimit:
                summary: Buy YES stop-limit
                description: Place a stop-limit order to buy 100 YES contracts at 0.70 once the market reaches the stop trigger of 0.65.
                value:
                  symbol: "GEMI-FEDJAN26-DN25"
                  orderType: "stop-limit"
                  side: "buy"
                  quantity: "100"
                  price: "0.70"
                  stopPrice: "0.65"
                  outcome: "yes"
                  timeInForce: "good-til-cancel"
              sellNoStopLimit:
                summary: Sell NO stop-limit
                description: Place a stop-limit order to sell 50 NO contracts at 0.40 once the market falls to the stop trigger of 0.45.
                value:
                  symbol: "GEMI-FEDJAN26-DN25"
                  orderType: "stop-limit"
                  side: "sell"
                  quantity: "50"
                  price: "0.40"
                  stopPrice: "0.45"
                  outcome: "no"
                  timeInForce: "good-til-cancel"
      responses:
        '201':
          description: Order created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
              examples:
                orderPlaced:
                  summary: Order successfully placed
                  value:
                    orderId: 12345678901
                    status: "open"
                    symbol: "GEMI-FEDJAN26-DN25"
                    side: "buy"
                    outcome: "yes"
                    orderType: "limit"
                    quantity: "100"
                    filledQuantity: "0"
                    remainingQuantity: "100"
                    price: "0.65"
                    avgExecutionPrice: null
                    createdAt: "2025-12-15T10:30:00.000Z"
                    updatedAt: "2025-12-15T10:30:00.000Z"
                    cancelledAt: null
                    contractMetadata:
                      contractId: "contract_123"
                      contractName: "FEDJAN26-DN25"
                      contractTicker: "FEDJAN26-DN25"
                      eventTicker: "FEDJAN26"
                      eventName: "Will Fed Funds Rate drop at least 0.25% at January 2026 meeting?"
                      category: "economics"
                      contractStatus: "active"
                      imageUrl: "https://example.com/fed.png"
                      expiryDate: "2026-01-31T23:59:59.000Z"
                      resolvedAt: null
                      description: "Resolves YES if Federal Reserve lowers the target rate by 0.25% or more at the January 2026 FOMC meeting"
                stopLimitOrderPlaced:
                  summary: Stop-limit order successfully placed
                  value:
                    orderId: 12345678902
                    status: "open"
                    symbol: "GEMI-FEDJAN26-DN25"
                    side: "buy"
                    outcome: "yes"
                    orderType: "stop-limit"
                    quantity: "100"
                    filledQuantity: "0"
                    remainingQuantity: "100"
                    price: "0.70"
                    stopPrice: "0.65"
                    avgExecutionPrice: null
                    createdAt: "2025-12-15T10:30:00.000Z"
                    updatedAt: "2025-12-15T10:30:00.000Z"
                    cancelledAt: null
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          description: Order rejected (e.g., insufficient funds)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /v1/prediction-markets/order/batch:
    post:
      tags:
        - Trading
      summary: Place a batch of orders
      description: |
        Place between 1 and 20 prediction market orders in one authenticated request. The complete payload is signed once using the standard private REST authentication headers. Each entry accepts the same fields as `POST /v1/prediction-markets/order`.

        The operation is synchronous and non-atomic. Gemini validates the entire batch before submitting any orders. If the batch or any entry fails up-front validation, the request fails and no orders are submitted. After validation succeeds, orders are submitted sequentially and each result is returned in request order. An exchange rejection for one order does not stop later orders from being submitted; it appears as an `error` and `message` for that entry in the `200` response.
      operationId: placeOrderBatch
      security:
        - apiKey: []
          payloadAuth: []
          signatureAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlaceOrderBatchRequest'
            examples:
              twoOrders:
                summary: Place two orders
                value:
                  orders:
                    - symbol: "GEMI-FEDJAN26-DN25"
                      orderType: "limit"
                      side: "buy"
                      quantity: "100"
                      price: "0.65"
                      outcome: "yes"
                      timeInForce: "good-til-cancel"
                    - symbol: "GEMI-FEDJAN26-DN25"
                      orderType: "limit"
                      side: "sell"
                      quantity: "50"
                      price: "0.35"
                      outcome: "no"
                      timeInForce: "good-til-cancel"
      responses:
        '200':
          description: Batch processed. Results are returned in request order and may contain both successful orders and per-entry errors.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaceOrderBatchResponse'
              examples:
                partialSuccess:
                  summary: One order accepted and one order rejected
                  value:
                    results:
                      - order:
                          orderId: 12345678901
                          status: "open"
                          symbol: "GEMI-FEDJAN26-DN25"
                          side: "buy"
                          outcome: "yes"
                          orderType: "limit"
                          timeInForce: "good-til-cancel"
                          quantity: "100"
                          filledQuantity: "0"
                          remainingQuantity: "100"
                          price: "0.65"
                          createdAt: "2025-12-15T10:30:00.000Z"
                          updatedAt: "2025-12-15T10:30:00.000Z"
                      - error: "InsufficientFunds"
                        message: "Insufficient funds"
        '400':
          description: Invalid payload, empty batch, more than 20 entries, or an invalid order. No orders are submitted.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/AuthErrorResponse'
                  - $ref: '#/components/schemas/PredictionMarketsError'
        '401':
          description: Authentication is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthErrorResponse'
        '403':
          description: The account is not permitted to place orders or has not accepted the current Prediction Markets terms. No orders are submitted.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/AuthErrorResponse'
                  - $ref: '#/components/schemas/AccountGroupBlockedError'
                  - $ref: '#/components/schemas/TermsNotAcceptedError'
                  - $ref: '#/components/schemas/RestrictedSellOnlyError'
        '409':
          description: The request nonce conflicts with a previously submitted request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthErrorResponse'
        '422':
          description: An order failed an up-front risk check. No orders are submitted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PredictionMarketsError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PredictionMarketsError'
        '503':
          description: Prediction markets or batch orders are temporarily unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PredictionMarketsError'

  /v1/prediction-markets/order/cancel:
    post:
      tags:
        - Trading
      summary: Cancel order
      description: Cancel an existing prediction market order. Requires authentication and CancelOrder permission.
      operationId: cancelOrder
      security:
        - apiKey: []
          payloadAuth: []
          signatureAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - orderId
              properties:
                orderId:
                  type: integer
                  format: int64
                  description: The order ID to cancel
                  example: 12345678
      responses:
        '200':
          description: Order cancelled successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: "ok"
                  message:
                    type: string
                    example: "Order 12345678 cancelled successfully"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Order not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Order cannot be cancelled (e.g., already filled)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /v1/prediction-markets/order/batch/cancel:
    post:
      tags:
        - Trading
      summary: Cancel a batch of orders
      description: |
        Cancel between 1 and 20 prediction market orders in one authenticated request. The complete payload is signed once using the standard private REST authentication headers. Each order ID may be a JSON integer or a quoted numeric string.

        The operation is synchronous and non-atomic. Gemini validates all order IDs before attempting any cancellation. If the batch is empty, contains more than 20 entries, or contains an invalid ID, the request fails and no orders are cancelled. After validation succeeds, cancellations are attempted sequentially and each result is returned in request order. A rejection for one cancellation does not stop later cancellations from being attempted; it appears as an `error` and `message` for that entry in the `200` response.
      operationId: cancelOrderBatch
      security:
        - apiKey: []
          payloadAuth: []
          signatureAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelOrderBatchRequest'
            examples:
              twoOrders:
                summary: Cancel two orders
                value:
                  orderIds:
                    - 12345678
                    - "12345679"
      responses:
        '200':
          description: Batch processed. Results are returned in request order and may contain both successful cancellations and per-entry errors.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelOrderBatchResponse'
              examples:
                partialSuccess:
                  summary: One order cancelled and one order not found
                  value:
                    results:
                      - orderId: 12345678
                        result: "ok"
                      - orderId: 12345679
                        error: "OrderNotFound"
                        message: "Order 12345679 not found"
        '400':
          description: Invalid payload, empty batch, more than 20 entries, or an invalid order ID. No orders are cancelled.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/AuthErrorResponse'
                  - $ref: '#/components/schemas/PredictionMarketsError'
        '401':
          description: Authentication is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthErrorResponse'
        '403':
          description: The account is not permitted to cancel orders.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthErrorResponse'
        '409':
          description: The request nonce conflicts with a previously submitted request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PredictionMarketsError'
        '503':
          description: Prediction markets or batch orders are temporarily unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PredictionMarketsError'

  # /v1/prediction-markets/order/quote:
  #   get:
  #     tags:
  #       - Trading
  #     summary: Get price quote
  #     description: |
  #       Get a price quote for buying/selling contracts. Provide either `shares` OR `totalSpend`, not both.
  #       Requires authentication.
  #     operationId: getQuote
  #     security:
  #       - apiKey: []
  #     parameters:
  #       - name: symbol
  #         in: query
  #         required: true
  #         description: The contract instrument symbol
  #         schema:
  #           type: string
  #           example: "GEMI-FEDJAN26-DN25"
  #       - name: shares
  #         in: query
  #         description: Number of shares to quote (mutually exclusive with totalSpend)
  #         schema:
  #           type: string
  #           example: "100"
  #       - name: totalSpend
  #         in: query
  #         description: Total amount to spend in USD (mutually exclusive with shares)
  #         schema:
  #           type: string
  #           example: "50.00"
  #     responses:
  #       '200':
  #         description: Successful quote
  #         content:
  #           application/json:
  #             schema:
  #               oneOf:
  #                 - $ref: '#/components/schemas/QuoteByQuantityResponse'
  #                 - $ref: '#/components/schemas/QuoteBySpendResponse'
  #       '400':
  #         $ref: '#/components/responses/BadRequest'
  #       '401':
  #         $ref: '#/components/responses/Unauthorized'
  #       '404':
  #         description: Contract not found
  #         content:
  #           application/json:
  #             schema:
  #               $ref: '#/components/schemas/Error'
  #       '500':
  #         $ref: '#/components/responses/InternalError'
  #       '503':
  #         $ref: '#/components/responses/ServiceUnavailable'

  /v1/prediction-markets/orders/active:
    post:
      tags:
        - Positions
      summary: Get active orders
      description: Returns a list of currently open (active) orders. Requires authentication.
      operationId: getActiveOrders
      security:
        - apiKey: []
          payloadAuth: []
          signatureAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                symbol:
                  type: string
                  description: Filter by contract instrument symbol
                  example: "GEMI-FEDJAN26-DN25"
                limit:
                  type: integer
                  description: Maximum number of results to return (default 50, max 100)
                  default: 50
                  maximum: 100
                offset:
                  type: integer
                  description: Number of results to skip for pagination
                  default: 0
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersResponse'
              examples:
                activeOrders:
                  summary: List of active orders
                  value:
                    orders:
                      - orderId: 12345678901
                        status: "open"
                        symbol: "GEMI-FEDJAN26-DN25"
                        side: "buy"
                        outcome: "yes"
                        orderType: "limit"
                        quantity: "100"
                        filledQuantity: "25"
                        remainingQuantity: "75"
                        price: "0.65"
                        avgExecutionPrice: "0.64"
                        createdAt: "2025-12-15T10:30:00.000Z"
                        updatedAt: "2025-12-15T11:00:00.000Z"
                        cancelledAt: null
                        contractMetadata:
                          contractId: "contract_123"
                          contractName: "FEDJAN26-DN25"
                          contractTicker: "FEDJAN26-DN25"
                          eventTicker: "FEDJAN26"
                          eventName: "Will Fed Funds Rate drop at least 0.25% at January 2026 meeting?"
                          category: "economics"
                          contractStatus: "active"
                          imageUrl: "https://example.com/fed.png"
                          expiryDate: "2026-01-31T23:59:59.000Z"
                          resolvedAt: null
                          description: "Resolves YES if Federal Reserve lowers the target rate by 0.25% or more at the January 2026 FOMC meeting"
                      - orderId: 12345678902
                        status: "open"
                        symbol: "GEMI-FEDJAN26-DN25"
                        side: "sell"
                        outcome: "yes"
                        orderType: "limit"
                        quantity: "50"
                        filledQuantity: "0"
                        remainingQuantity: "50"
                        price: "0.65"
                        avgExecutionPrice: null
                        createdAt: "2025-12-15T12:00:00.000Z"
                        updatedAt: "2025-12-15T12:00:00.000Z"
                        cancelledAt: null
                        contractMetadata:
                          contractId: "contract_123"
                          contractName: "FEDJAN26-DN25"
                          contractTicker: "FEDJAN26-DN25"
                          eventTicker: "FEDJAN26"
                          eventName: "Will Fed Funds Rate drop at least 0.25% at January 2026 meeting?"
                          category: "economics"
                          contractStatus: "active"
                          imageUrl: "https://example.com/fed.png"
                          expiryDate: "2026-01-31T23:59:59.000Z"
                          resolvedAt: null
                          description: "Resolves YES if Federal Reserve lowers the target rate by 0.25% or more at the January 2026 FOMC meeting"
                    pagination:
                      limit: 50
                      offset: 0
                      count: 2
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /v1/prediction-markets/orders/history:
    post:
      tags:
        - Positions
      summary: Get order history
      description: >-
        Returns historical orders (filled or cancelled) for the authenticated user. Use `status: filled` with `from` and `to` to retrieve fully filled orders in a bounded time window. The range is `[from, to)`: `from` is inclusive and `to` is exclusive. A time-bounded response contains at most `limit` results and ignores `offset`; split high-volume periods into non-overlapping ranges. Use `/orders/active` for open orders.
      operationId: getOrderHistory
      security:
        - apiKey: []
          payloadAuth: []
          signatureAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  description: Filter by order status
                  enum: [filled, cancelled]
                symbol:
                  type: string
                  description: Filter by contract instrument symbol
                  example: "GEMI-FEDJAN26-DN25"
                limit:
                  type: integer
                  description: Maximum number of results to return. Defaults to 50 and is capped at 1000.
                  default: 50
                  minimum: 1
                  maximum: 1000
                offset:
                  type: integer
                  description: Number of results to skip for pagination. Offset is ignored when `from` or `to` is supplied.
                  default: 0
                  minimum: 0
                  maximum: 10000
                from:
                  type: integer
                  format: int64
                  description: Inclusive start of the order-closed time range, expressed as Unix epoch milliseconds. Use with `to` for a UTC daily window.
                  example: 1775001600000
                to:
                  type: integer
                  format: int64
                  description: Exclusive end of the order-closed time range, expressed as Unix epoch milliseconds. `from` must not be later than `to`.
                  example: 1775088000000
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersResponse'
        '400':
          description: Invalid status parameter or date range
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /v1/prediction-markets/positions:
    post:
      tags:
        - Positions
      summary: Get positions
      description: |
        Returns current filled positions for the authenticated user. All query parameters are optional; omitting them preserves the legacy unpaginated, unsorted behavior.
      operationId: getPositions
      security:
        - apiKey: []
          payloadAuth: []
          signatureAuth: []
      parameters:
        - name: eventTicker
          in: query
          required: false
          description: Filter positions to a single event ticker (e.g. `FEDJAN26`). Positions on sub-events whose `parentEventTicker` matches the value may also be included.
          schema:
            type: string
        - name: limit
          in: query
          required: false
          description: Maximum number of positions to return. Clamped to `[1, 1000]` when supplied. Omit for legacy unpaginated behavior.
          schema:
            type: integer
            minimum: 1
            maximum: 1000
        - name: offset
          in: query
          required: false
          description: Number of positions to skip for pagination. Floor-clamped to `0` when supplied. Ignored when `limit` is omitted (the response is unpaginated).
          schema:
            type: integer
            minimum: 0
        - name: sort
          in: query
          required: false
          description: |
            Sort order. Accepts `positionValue`, `unrealizedPnl`, or `expiryDate` (case-insensitive), optionally prefixed with `+` (ascending) or `-` (descending). A bare field name uses each field's default direction: `positionValue` and `unrealizedPnl` default to descending; `expiryDate` defaults to ascending (soonest-first). `unrealizedPnl` and `expiryDate` sort NULLS LAST so positions without the sort key sink to the bottom regardless of direction. `instrumentId` ascending is the final tiebreaker for stable pagination across quote ticks. A malformed `sort` value silently falls back to `-positionValue` — no `400` is returned.
          schema:
            type: string
            enum:
              - positionValue
              - '+positionValue'
              - '-positionValue'
              - unrealizedPnl
              - '+unrealizedPnl'
              - '-unrealizedPnl'
              - expiryDate
              - '+expiryDate'
              - '-expiryDate'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PositionsResponse'
              examples:
                positions:
                  summary: User positions
                  value:
                    positions:
                      - symbol: "GEMI-FEDJAN26-DN25"
                        instrumentId: 1001
                        totalQuantity: "125"
                        quantityOnHold: "10"
                        avgPrice: "0.63"
                        outcome: "yes"
                        contractMetadata:
                          contractId: "contract_123"
                          contractName: "FEDJAN26-DN25"
                          contractTicker: "FEDJAN26-DN25"
                          eventTicker: "FEDJAN26"
                          eventName: "Will Fed Funds Rate drop at least 0.25% at January 2026 meeting?"
                          category: "economics"
                          contractStatus: "active"
                          imageUrl: "https://example.com/fed.png"
                          eventImageUrl: "https://example.com/fed-event.png"
                          eventType: "binary"
                          expiryDate: "2026-01-31T23:59:59.000Z"
                          resolvedAt: null
                          resolutionSide: null
                          description: "Resolves YES if Federal Reserve lowers the target rate by 0.25% or more at the January 2026 FOMC meeting"
                          sortOrder: null
                          parentEventTicker: null
                          template: "binary"
                          color: null
                          startTime: null
                        prices:
                          buy:
                            yes: "0.63"
                            no: "0.37"
                          sell:
                            yes: "0.61"
                            no: "0.35"
                          bestBid: "0.61"
                          bestAsk: "0.63"
                          lastTradePrice: "0.62"
                        resolutionSide: null
                        isAboveAutoStartThreshold: false
                        isLive: true
                        realizedPl: "0"
                        marketValue: "78.75"
                        unrealizedPnl: "0"
                        unrealizedPct: 0
                      - symbol: "GEMI-FEDJAN26-DN25"
                        instrumentId: 1001
                        totalQuantity: "200"
                        quantityOnHold: "0"
                        avgPrice: "0.36"
                        outcome: "no"
                        contractMetadata:
                          contractId: "contract_123"
                          contractName: "FEDJAN26-DN25"
                          contractTicker: "FEDJAN26-DN25"
                          eventTicker: "FEDJAN26"
                          eventName: "Will Fed Funds Rate drop at least 0.25% at January 2026 meeting?"
                          category: "economics"
                          contractStatus: "active"
                          imageUrl: "https://example.com/fed.png"
                          eventImageUrl: "https://example.com/fed-event.png"
                          eventType: "binary"
                          expiryDate: "2026-01-31T23:59:59.000Z"
                          resolvedAt: null
                          resolutionSide: null
                          description: "Resolves YES if Federal Reserve lowers the target rate by 0.25% or more at the January 2026 FOMC meeting"
                          sortOrder: null
                          parentEventTicker: null
                          template: "binary"
                          color: null
                          startTime: null
                        prices:
                          buy:
                            yes: "0.37"
                            no: "0.63"
                          sell:
                            yes: "0.35"
                            no: "0.61"
                          bestBid: "0.35"
                          bestAsk: "0.37"
                          lastTradePrice: "0.36"
                        resolutionSide: null
                        isAboveAutoStartThreshold: false
                        isLive: true
                        realizedPl: "0"
                        marketValue: "72.00"
                        unrealizedPnl: "0"
                        unrealizedPct: 0
                    total: 2
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /v1/prediction-markets/positions/settled:
    post:
      tags:
        - Positions
      summary: Get settled positions
      description: |
        Returns historically settled positions for the authenticated user. Each entry represents a position in a contract that has resolved.
         - `payout` — the amount received from settlement
         - `resolutionSide` — indicates which outcome (`yes` or `no`) won.

        This endpoint differs from [Get positions](#operation/getPositions) in that it returns closed positions from settled contracts rather than current open positions.
      operationId: getSettledPositions
      security:
        - apiKey: []
          payloadAuth: []
          signatureAuth: []
      parameters:
        - name: eventTicker
          in: query
          description: Optional event ticker to filter settled positions to a single event (e.g. `FEDJAN26`). If omitted, all settled positions for the account are returned.
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          description: Maximum number of settled positions to return.
          schema:
            type: integer
            default: 1000
            minimum: 1
            maximum: 1000
        - name: offset
          in: query
          required: false
          description: Number of settled positions to skip for pagination.
          schema:
            type: integer
            default: 0
            minimum: 0
        - name: sort
          in: query
          required: false
          description: |
            Sort order. Accepts `date` or `payout`, optionally prefixed with `+` (ascending) or `-` (descending). A bare field name defaults to descending. `date` ascending is rejected and silently falls back to the default order — settled positions are conceptually ordered most-recent-first. A malformed `sort` value also falls back silently; no `400` is returned.
          schema:
            type: string
            enum:
              - date
              - '-date'
              - payout
              - '+payout'
              - '-payout'
            example: "-payout"
        - name: search
          in: query
          required: false
          description: |
            Case-insensitive substring filter. Matches against the event name, contract name, event ticker, or any ancestor category name in the contract's category subtree (up to four levels). Whitespace is trimmed; inputs under 3 characters are dropped (GIN trigram lookup floor); inputs over 64 characters are truncated.
          schema:
            type: string
        - name: category
          in: query
          required: false
          description: |
            Filter to settled positions whose contract's event belongs to the named category (or any of its descendants in the category tree). Whitespace is trimmed; empty values are ignored.
          schema:
            type: string
            example: "sports"
        - name: withCashOuts
          in: query
          required: false
          description: |
            Opt-in flag. When `true`, the response carries new sibling fields (`cashOuts`, `totalCashOutProceeds`, `totalCashOutCostBasis`, `totalCashOutNetProfit`) populated with the qualifying cash-outs in the same account-scoped time window as the returned page's settled positions. When `false` (default) the response shape is byte-identical to the pre-`withCashOuts` contract: the `positions[]` element schema is unchanged regardless of the flag.
          schema:
            type: boolean
            default: false
            example: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettledPositionsResponse'
              examples:
                settledPositions:
                  summary: Settled positions with one winning and one losing position
                  value:
                    positions:
                      - accountId: 12345
                        instrumentId: 1001
                        instrumentSymbol: "GEMI-FEDJAN26-DN25"
                        position: "125"
                        positionQuantity: "125"
                        outcome: "yes"
                        payout: "125.00"
                        resolutionSide: "yes"
                        settledAt: "2026-01-31T23:59:59.000Z"
                        contractMetadata:
                          contractId: "contract_123"
                          contractName: "FEDJAN26-DN25"
                          contractTicker: "FEDJAN26-DN25"
                          eventTicker: "FEDJAN26"
                          eventName: "Will Fed Funds Rate drop at least 0.25% at January 2026 meeting?"
                          category: "economics"
                          contractStatus: "resolved"
                          imageUrl: "https://example.com/fed.png"
                          eventImageUrl: "https://example.com/fed-event.png"
                          eventType: "binary"
                          expiryDate: "2026-01-31T23:59:59.000Z"
                          resolvedAt: "2026-01-31T23:59:59.000Z"
                          resolutionSide: "yes"
                          description: "Resolves YES if Federal Reserve lowers the target rate by 0.25% or more at the January 2026 FOMC meeting"
                          sortOrder: null
                          parentEventTicker: null
                          template: "binary"
                          color: null
                          startTime: null
                        costBasis: "78.75"
                        realizedPnl: "0"
                        netProfit: "46.25"
                      - accountId: 12345
                        instrumentId: 1002
                        instrumentSymbol: "GEMI-FEDJAN26-NOCUT"
                        position: "-200"
                        positionQuantity: "200"
                        outcome: "no"
                        payout: "0"
                        resolutionSide: "yes"
                        settledAt: "2026-01-31T23:59:59.000Z"
                        contractMetadata:
                          contractId: "contract_124"
                          contractName: "FEDJAN26-NOCUT"
                          contractTicker: "FEDJAN26-NOCUT"
                          eventTicker: "FEDJAN26"
                          eventName: "Will Fed Funds Rate drop at least 0.25% at January 2026 meeting?"
                          category: "economics"
                          contractStatus: "resolved"
                          imageUrl: "https://example.com/fed.png"
                          eventImageUrl: "https://example.com/fed-event.png"
                          eventType: "binary"
                          expiryDate: "2026-01-31T23:59:59.000Z"
                          resolvedAt: "2026-01-31T23:59:59.000Z"
                          resolutionSide: "yes"
                          description: "Resolves YES if Federal Reserve lowers the target rate by 0.25% or more at the January 2026 FOMC meeting"
                          sortOrder: null
                          parentEventTicker: null
                          template: "binary"
                          color: null
                          startTime: null
                        costBasis: "72.00"
                        realizedPnl: "0"
                        netProfit: "-72.00"
                    total: 2
                settledPositionsWithCashOuts:
                  summary: Same response with `withCashOuts=true`
                  value:
                    positions:
                      - accountId: 12345
                        instrumentId: 1001
                        instrumentSymbol: "GEMI-FEDJAN26-DN25"
                        position: "125"
                        positionQuantity: "125"
                        outcome: "yes"
                        payout: "125.00"
                        resolutionSide: "yes"
                        settledAt: "2026-01-31T23:59:59.000Z"
                        contractMetadata:
                          contractId: "contract_123"
                          contractName: "FEDJAN26-DN25"
                          contractTicker: "FEDJAN26-DN25"
                          eventTicker: "FEDJAN26"
                          eventName: "Will Fed Funds Rate drop at least 0.25% at January 2026 meeting?"
                          category: "economics"
                          contractStatus: "resolved"
                          imageUrl: "https://example.com/fed.png"
                          eventImageUrl: "https://example.com/fed-event.png"
                          eventType: "binary"
                          expiryDate: "2026-01-31T23:59:59.000Z"
                          resolvedAt: "2026-01-31T23:59:59.000Z"
                          resolutionSide: "yes"
                          description: "Resolves YES if Federal Reserve lowers the target rate by 0.25% or more at the January 2026 FOMC meeting"
                          sortOrder: null
                          parentEventTicker: null
                          template: "binary"
                          color: null
                          startTime: null
                        costBasis: "78.75"
                        realizedPnl: "0"
                        netProfit: "46.25"
                    total: 1
                    cashOuts:
                      - accountId: 12345
                        instrumentId: 1003
                        instrumentSymbol: "GEMI-FEDJAN26-DN25"
                        timestamp: "2026-01-28T10:15:00.000Z"
                        filledQuantity: "10"
                        side: "sell"
                        proceeds: "6.50"
                        costBasis: "6.30"
                        netProfit: "0.20"
                        contractMetadata:
                          contractId: "contract_123"
                          contractName: "FEDJAN26-DN25"
                          contractTicker: "FEDJAN26-DN25"
                          eventTicker: "FEDJAN26"
                          eventName: "Will Fed Funds Rate drop at least 0.25% at January 2026 meeting?"
                          category: "economics"
                          contractStatus: "resolved"
                          imageUrl: "https://example.com/fed.png"
                          eventImageUrl: "https://example.com/fed-event.png"
                          eventType: "binary"
                          expiryDate: "2026-01-31T23:59:59.000Z"
                          resolvedAt: "2026-01-31T23:59:59.000Z"
                          resolutionSide: "yes"
                          description: "Resolves YES if Federal Reserve lowers the target rate by 0.25% or more at the January 2026 FOMC meeting"
                          sortOrder: null
                          parentEventTicker: null
                          template: "binary"
                          color: null
                          startTime: null
                    totalCashOutProceeds: "6.50"
                    totalCashOutCostBasis: "6.30"
                    totalCashOutNetProfit: "0.20"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /v1/prediction-markets/metrics/volume:
    post:
      tags:
        - Positions
      summary: Get volume metrics
      description: |
        Returns per-contract share volume metrics for an event, including the authenticated user's taker and maker volumes.

        All volumes are in shares (number of contracts traded), not dollar amounts.

        - `totalQty` — Total taker volume across all participants for this contract
        - `userAggressorQty` — The authenticated user's taker (aggressor) volume
        - `userRestingQty` — The authenticated user's maker (resting) volume, counted when another order fills against the user's resting limit order

        An optional time range can be specified to filter trades within a specific window.
      operationId: getVolumeMetrics
      security:
        - apiKey: []
          payloadAuth: []
          signatureAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - eventTicker
              properties:
                eventTicker:
                  type: string
                  description: The event ticker symbol
                  example: "FED260318"
                startTime:
                  type: integer
                  format: int64
                  description: Start of time range filter (epoch milliseconds). If omitted, defaults to the earliest contract creation time.
                endTime:
                  type: integer
                  format: int64
                  description: End of time range filter (epoch milliseconds). If omitted, includes all trades up to now.
            examples:
              allTime:
                summary: All-time volume for an event
                value:
                  eventTicker: "FED260318"
              timeRanged:
                summary: Volume within a specific time range
                value:
                  eventTicker: "FED260318"
                  startTime: 1772412364000
                  endTime: 1772671564000
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VolumeMetricsResponse'
              examples:
                volumeMetrics:
                  summary: Volume metrics for a multi-contract event
                  value:
                    eventTicker: "FED260318"
                    contracts:
                      - symbol: "GEMI-FED260318-CUT25"
                        totalQty: "94625"
                        userAggressorQty: "1"
                        userRestingQty: "0"
                      - symbol: "GEMI-FED260318-CUTGT25"
                        totalQty: "68666"
                        userAggressorQty: "0"
                        userRestingQty: "0"
                      - symbol: "GEMI-FED260318-HIKE"
                        totalQty: "15397"
                        userAggressorQty: "0"
                        userRestingQty: "0"
                      - symbol: "GEMI-FED260318-MAINTAIN"
                        totalQty: "20400"
                        userAggressorQty: "5"
                        userRestingQty: "0"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /v1/prediction-markets/combos:
    get:
      tags:
        - Combos
      summary: List combo contracts
      description: Returns a paginated list of combo contracts. Each combo includes its full leg breakdown and per-leg resolution status. When `status` is omitted, the endpoint returns only `Active` combos. This Combo Prediction Markets endpoint is not currently enabled in production.
      operationId: listCombos
      parameters:
        - name: status
          in: query
          required: false
          description: Filter by combo contract status (for example, `Active`, `Settled`, or `Voided`). Defaults to `Active` when omitted.
          schema:
            type: string
        - name: contractId
          in: query
          required: false
          description: Filter to combos that contain a specific underlying contract ID as a leg
          schema:
            type: integer
            format: int64
        - name: instrumentRegistered
          in: query
          required: false
          description: Filter by whether the combo has been registered with an instrument symbol
          schema:
            type: boolean
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCombosResponse'
              examples:
                activeCombos:
                  summary: List of active combo contracts
                  value:
                    combos:
                      - contract:
                          contractId: "456"
                          contractName: "BTC EOY26 > $120k AND ETH EOY26 > $4k"
                          contractTicker: "GEMI-CMB-0526-A7F3B2C1D4E5"
                          eventTicker: "GEMI-CMB-0526-A7F3B2C1D4E5"
                          eventName: "BTC EOY26 > $120k AND ETH EOY26 > $4k"
                          category: "Combo"
                          contractStatus: "Active"
                          eventType: "binary"
                          expiryDate: "2026-12-31T23:59:59Z"
                          resolvedAt: null
                          resolutionSide: null
                          parentEventTicker: null
                          startTime: null
                        legs:
                          - comboId: 456
                            legIndex: 0
                            contractId: "101"
                            requiredOutcome: "Yes"
                            legOutcome: null
                            resolvedAt: null
                            contract:
                              contractId: "101"
                              contractName: "BTC above $120,000 at year-end 2026"
                              contractTicker: "GEMI-BTC-EOY26-HI120000"
                              eventTicker: "GEMI-BTC-EOY26"
                              eventName: "Bitcoin Year-End 2026"
                              category: "Crypto"
                              contractStatus: "Active"
                              eventType: "binary"
                              expiryDate: "2026-12-31T23:59:59Z"
                              resolvedAt: null
                              resolutionSide: null
                              parentEventTicker: null
                              startTime: null
                          - comboId: 456
                            legIndex: 1
                            contractId: "202"
                            requiredOutcome: "Yes"
                            legOutcome: null
                            resolvedAt: null
                            contract:
                              contractId: "202"
                              contractName: "ETH above $4,000 at year-end 2026"
                              contractTicker: "GEMI-ETH-EOY26-HI4000"
                              eventTicker: "GEMI-ETH-EOY26"
                              eventName: "Ethereum Year-End 2026"
                              category: "Crypto"
                              contractStatus: "Active"
                              eventType: "binary"
                              expiryDate: "2026-12-31T23:59:59Z"
                              resolvedAt: null
                              resolutionSide: null
                              parentEventTicker: null
                              startTime: null
                    pagination:
                      limit: 50
                      offset: 0
                      total: 1
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    post:
      tags:
        - Combos
      summary: Create or retrieve a canonical combo
      description: |
        Creates a combo from two to six underlying contract legs for the authenticated account. The service canonicalizes the complete leg set, so submitting the same legs again returns the existing combo regardless of leg order. The account is derived from the authenticated API key; do not include an account ID in the request. This Combo Prediction Markets endpoint is not currently enabled in production.

        Requires signed private REST authentication, the `PredictionsNewOrder` permission, and an unrestricted trading account. A new canonical combo returns `201 Created` with `alreadyExisted: false`; an existing canonical combo returns `200 OK` with `alreadyExisted: true`.
      operationId: createCombo
      security:
        - apiKey: []
          payloadAuth: []
          signatureAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateComboRequest'
            examples:
              twoLegCombo:
                summary: Create a two-leg combo
                value:
                  legs:
                    - contractId: "101"
                      requiredOutcome: "Yes"
                    - contractId: "202"
                      requiredOutcome: "No"
      responses:
        '200':
          description: The canonical combo already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateComboResponse'
              examples:
                existingCombo:
                  summary: Existing canonical combo
                  value:
                    combo:
                      id: 456
                      canonicalLegKey: "101:Yes|202:No"
                      legCount: 2
                      displayName: "BTC EOY26 > $120k AND ETH EOY26 <= $4k"
                      status: "Active"
                      instrumentId: 98765
                      instrumentSymbol: "GEMI-CMB-0526-A7F3B2C1D4E5"
                      instrumentRegistered: true
                      latestExpiryDate: "2026-12-31T23:59:59.000Z"
                      createdAt: "2026-05-01T12:00:00.000Z"
                      updatedAt: "2026-05-01T12:00:00.000Z"
                      legs:
                        - comboId: 456
                          legIndex: 0
                          contractId: "101"
                          requiredOutcome: "Yes"
                        - comboId: 456
                          legIndex: 1
                          contractId: "202"
                          requiredOutcome: "No"
                    alreadyExisted: true
        '201':
          description: A new canonical combo was created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateComboResponse'
              examples:
                createdCombo:
                  summary: New canonical combo
                  value:
                    combo:
                      id: 456
                      canonicalLegKey: "101:Yes|202:No"
                      legCount: 2
                      displayName: "BTC EOY26 > $120k AND ETH EOY26 <= $4k"
                      status: "Active"
                      instrumentId: 98765
                      instrumentSymbol: "GEMI-CMB-0526-A7F3B2C1D4E5"
                      instrumentRegistered: true
                      latestExpiryDate: "2026-12-31T23:59:59.000Z"
                      createdAt: "2026-05-01T12:00:00.000Z"
                      updatedAt: "2026-05-01T12:00:00.000Z"
                      legs:
                        - comboId: 456
                          legIndex: 0
                          contractId: "101"
                          requiredOutcome: "Yes"
                        - comboId: 456
                          legIndex: 1
                          contractId: "202"
                          requiredOutcome: "No"
                    alreadyExisted: false
        '400':
          description: The request body is malformed or fails combo validation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComboWriteError'
              example:
                error: "InvalidInput"
                code: "COMBO_VALIDATION_ERROR"
                message: "a combo needs 2-6 legs"
        '401':
          description: Signed private REST authentication is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthErrorResponse'
        '403':
          description: The API key lacks `PredictionsNewOrder`, or the authenticated trading account is restricted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthErrorResponse'
        '404':
          description: Combos are unavailable, or an underlying contract in the request cannot be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComboWriteError'
              examples:
                comboUnavailable:
                  summary: Combos unavailable
                  value:
                    error: "NOT_FOUND"
                    message: "Not Found"
                legNotFound:
                  summary: Underlying contract not found
                  value:
                    error: "NOT_FOUND"
                    code: "COMBO_LEG_NOT_FOUND"
                    message: "One or more contracts in this combo could not be found. Update your selection and try again."
        '500':
          description: An unexpected error occurred while creating the combo.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComboWriteError'
              example:
                error: "InternalError"
                message: "An unexpected error occurred"

  /v1/prediction-markets/combos/{instrumentSymbol}:
    get:
      tags:
        - Combos
      summary: Get combo by instrument symbol
      description: Returns the full specification of a single combo contract identified by its instrument symbol, including leg breakdown and per-leg resolution status. This Combo Prediction Markets endpoint is not currently enabled in production.
      operationId: getComboByInstrumentSymbol
      parameters:
        - name: instrumentSymbol
          in: path
          required: true
          description: The combo contract's instrument symbol (e.g. `GEMI-CMB-0526-A7F3B2C1D4E5`)
          schema:
            type: string
          example: "GEMI-CMB-0526-A7F3B2C1D4E5"
      responses:
        '200':
          description: Successful response
[...]
